name: udfd

services:
  inference:
    build:
      context: ./app/inference
      dockerfile: Dockerfile
    container_name: inference
    networks:
      - inference-net
    volumes:
      - "./app/logs:/app/logs"
      - "./dataset/uploaded:/app/uploaded"
      - "./app/static/gradcam:/app/gradcam"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5555/health"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 20s

  webapp:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: webapp
    networks:
      - inference-net
    ports:
      - "5500:5500"
    volumes:
      - "./app/logs:/app/logs"
      - "./app/static/gradcam:/app/static/gradcam"
    restart: unless-stopped
    depends_on:
      inference:
        condition: service_healthy

networks:
  inference-net:
